/* CSS file placeholder. */
body {
	background: white;
	display: -webkit-flex;
	-webkit-justify-content: center;
	-webkit-align-items: center;
	-webkit-flex-direction: column;
}
video {
	width: 640px;
	height: 480px;
	background: white;
}

video {
	object-fit: none;
	border: 1px solid #e2e2e2;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}