/* CSS file placeholder. */

body {
    background: ##388E3C;
    background: -webkit-linear-gradient(to left, #388E3C, #4CAF50);
    background: linear-gradient(to left, #388E3C, #4CAF50);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.step1 {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: ease 1s all;
}

.camHolder {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

video {
    width: 1280px;
    height: 720px;
    background: white;
    -webkit-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
    box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
}

.overlay {
    position: absolute;
    top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#count {
    font-size: 80px;
    color: white;
}

#snapBtn {
    padding: 0 25rem;
    -webkit-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.36);
    box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.36);
}

.step2 {
    height: 0;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: ease 1s all;
}

.snap_display {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

canvas {
    width: 33%;
    margin: 1%;
    -webkit-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
    box-shadow: 14px 10px 43px 0px rgba(0, 0, 0, 0.66);
}

.nextStep {
    visibility: hidden;
}

select {
    display: block;
}

#pictureTaken {
    top: 5% !important;
    height: 75%;
    max-height: 80%;
}

countdown-timer {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.modal-footer {
    left: 0;
}
